@page "/"

<PageTitle>Blazor Introduction</PageTitle>

<h1 class="m-0">Blazor Introduction!</h1>

<div class="lead mb-5 fs-4">
    Apps built to demonstrate Blazor learning skills
</div>

<dl>
    <dt>Blazor Project Structure</dt>
    <dd>Modify the blazor</dd>
    <dt>Razor Syntax</dt>
    <dd>Add conditional logic to html markup</dd>
    <dt>Routing</dt>
    <dd>Add pages and give them a route</dd>
    <dt>Layout Components</dt>
    <dd>Modify the base nav manu and style</dd>
</dl>
